{% extends "base.html" %}
{% block content %}

<div class="form-container">
    <main class="form-signin text-center">
        <h1>Create a User</h1>

        <form id="create-user-form" class="my-5">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="username" placeholder="username" name="username"
                            required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" placeholder="name" name="name" required>
                        <label for="name">Name</label>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="designation" placeholder="designation"
                            name="designation" required>
                        <label for="designation">Designation</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="ticket_no" placeholder="ticket_no" name="ticket_no"
                            required>
                        <label for="ticket_no">Ticket Number</label>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="ward" placeholder="ward" name="ward" required>
                        <label for="ward">Ward</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="place_of_posting" placeholder="place_of_posting"
                            name="place_of_posting" required>
                        <label for="place_of_posting">Place of Posting</label>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="password" placeholder="password" name="password"
                            required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="password" class="form-control" id="confirm_password" placeholder="confirm_password"
                            name="confirm_password" required>
                        <label for="confirm_password">Confirm Password</label>
                    </div>
                </div>
            </div>
            <div class="row g-3 mt-3 justify-content-center">
                <div class="col-md-6">
                    <div class="form-floating">
                        <select id="user_type" name="user_type" class="form-select form-control" required>
                            <option selected></option>
                            <option value="dir_xen_sdo" name="dir_xen_sdo">DIR,XEN,SDO</option>
                            <option value="ddr" name="ddr">DDR</option>
                            <option value="st_op" name="st_op">ST_Operator</option>
                            <option value="sb_op" name="sb_op">Shadbagh_Operator</option>
                            <option value="mp_op" name="mp_op">Mughalpura_Operator</option>
                            <option value="bp_op" name="bp_op">Baghbanpura_Operator</option>
                            <option value="gp_op" name="gp_op">Gujjarpura_Operator</option>
                        </select>
                        <label for="user_type">User Type</label>
                    </div>
                </div>
            </div>

            <br>
            <button class="w-100 btn btn-lg btn-dark" type="submit">Create</button>
        </form>
    </main>
</div>

<script>
    document.getElementById('create-user-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const name = document.getElementById('name').value;
        const password = document.getElementById('password').value;
        const confirm_password = document.getElementById('confirm_password').value;
        const user_type = document.getElementById('user_type').value;

        const designation = document.getElementById('designation').value;
        const ticket_no = document.getElementById('ticket_no').value;
        const ward = document.getElementById('ward').value;
        const place_of_posting = document.getElementById('place_of_posting').value;



        const token = document.cookie.split("=")[1].split(";")[0];

        if (password !== confirm_password) {
            message("Password Not Matched !", "red");
            myModal.show();

            setTimeout(() => {
                myModal.hide();

            }, 2000); // Hide message after 2 seconds
        }

        else {



            const response = await fetch('/post_create-user/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ username, name, password, user_type, designation, ticket_no, ward, place_of_posting, token })


            });

            const data = await response.json();

            if (response.ok) {

                message(data.msg, "green");
                myModal.show();

                setTimeout(() => {
                    myModal.hide();

                }, 2000); // Hide message after 2 seconds


                document.getElementById('create-user-form').reset();

            } else {

                message(data.detail + " !", "red");
                myModal.show();

                setTimeout(() => {
                    myModal.hide();

                }, 2000); // Hide message after 2 seconds


            }


        }






    });
</script>


{% endblock %}