{% extends "base.html" %}
{% block content %}

<div class="form-container">

    <main class="form-signin text-center ">
        <h1>Create a User</h1>

        <form id="create-hr-user-form" class="my-5">


            <div class="form-floating">
                <input type="text" class="form-control" id="username" placeholder="username" name="username" required>
                <label for="username">Username</label>
            </div><br>

            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="password" name="password"
                    required>
                <label for="password">Password</label>
            </div>

            <br>

            <div class="form-floating">
                <input type="confrom_password" class="form-control" id="confrom_password" placeholder="confrom Password"
                    name="confrom_password" required>
                <label for="confrom_password">Confrom Password</label>
            </div>



            <div class="checkbox mb-3"></div>

            <button class="w-100 btn btn-lg btn-dark" type="submit">Create</button>
        </form>
    </main>
</div>

<script>
    document.getElementById('create-hr-user-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const confrom_password = document.getElementById('confrom_password').value;
        const role = 'hr';
        const token = document.cookie.split("=")[1].split(";")[0];

        if (password !== confrom_password) {
            message("Password Not Matched !", "red");
            myModal.show();

            setTimeout(() => {
                myModal.hide();

            }, 2000); // Hide message after 2 seconds
        }

        else {


            const response = await fetch('/post_create-hr-user/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`
                },
                body: JSON.stringify({ username, password, role })
            });

            const data = await response.json();

            if (response.ok) {

                message(data.msg, "green");
                myModal.show();

                setTimeout(() => {
                    myModal.hide();

                }, 2000); // Hide message after 2 seconds


                document.getElementById('create-hr-user-form').reset();

            } else {

                message(data.detail + " !", "red");
                myModal.show();

                setTimeout(() => {
                    myModal.hide();

                }, 2000); // Hide message after 2 seconds


            }


        }






    });
</script>


{% endblock %}