{% extends "base.html" %}

{% block content %}

<div class="table-responsive" style="text-align: center;">
    <h1>All Users</h1>

    <table class="table border-dark table-hover table-bordered">
        <thead class="bg-secondary text-light" style="position: sticky; top: 0; z-index: 999;">
            <tr>
                {% for field in ["#Sr", "Name", "Designation", "Ticket No", "Ward", "Place of Posting", "Username", "Password", "Edit-Info"] %}
                <th scope="col" style="font-size: 18px; padding: 10px; text-align: center; vertical-align: middle;">
                    {{ field }}
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for k, v in db.items() %}
            <tr>
                <th scope="row" style="font-size: 16px; padding: 10px; text-align: center; vertical-align: middle;">
                    {{ loop.index }}
                </th>
                <td style="font-size: 16px; padding: 10px; text-align: center; vertical-align: middle;">
                    {{ v.username }}
                </td>
                <td style="font-size: 16px; padding: 10px; text-align: center; vertical-align: middle;">
                    {{ v.designation }}
                </td>
                <td style="font-size: 16px; padding: 10px; text-align: center; vertical-align: middle;">
                    {{ v.ticket_no }}
                </td>
                <td style="font-size: 16px; padding: 10px; text-align: center; vertical-align: middle;">
                    {{ v.ward }}
                </td>
                <td style="font-size: 16px; padding: 10px; text-align: center; vertical-align: middle;">
                    {{ v.place_of_posting }}
                </td>
                <td style="font-size: 16px; padding: 10px; text-align: center; vertical-align: middle;">
                    {{ v.username }}
                </td>
                <td style="font-size: 16px; padding: 10px; text-align: center; vertical-align: middle;">
                    {{ v.password }}
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    <button class="w-100 btn btn-outline-secondary" onclick="editinfo('{{ v.username }}');">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
